<section class="section--landing">
    <div class="container">
        <div class="row">
            <div class="col-8 col-landing">
                <p class="intro">
                    Hello I'm
                </p>
                <h1 class="firstname">
                    Jaap
                </h1>
                <h1 class="lastname">
                    Wouters
                </h1>
                <div class="container--badges">
                    <span class="badge">Graphic Design</span>
                    <span class="badge">UI/UX Design</span>
                    <span class="badge">Junior Developer</span>
                </div>
            </div>
            <div class="col-4">
                <img class="header-image" src="/drupal/themes/custom/jaapw/images/homepagefoto.png" alt="">
            </div>
        </div>
    </div>
</section>

<section class="section--recentprojects">
    <div class="container">
        <div class="row">
            <div class="col-12 title-center">
                <h2>
                    Recent projects
                </h2>
                <p class="title-text">
                    Projects I worked on this semester and previous semesters
                </p>
            </div>
        </div>
        <div class="row">
            {{ content.views_block__projects_block_2 }}
            <!-- <div class="col-4 project-card">
                <img class="card-image" src="https://picsum.photos/2000/3000" alt="">
                <div class="card-text">   
                    <h3>PSV</h3>
                    <h4>Brainport Experience Box</h4>
                    <p>The Brainport Experience Box is a unique innovative tribune where guests can learn about innovative technologies on game days.</p>
                    <a href=""><button class="btn btn-primary">Learn more <i class="bi bi-arrow-right"></i></button></a>
                </div>
            </div>
            <div class="col-4 project-card">
                <img class="card-image" src="https://picsum.photos/2000/3000" alt="">
                <div class="card-text">   
                    <h3>Portfolio</h3>
                    <h4>Project showcase</h4>
                    <p>Designing and developing my own portfolio to showcase the projects I have been working on this semester and last semesters.</p>
                    <a href=""><button class="btn btn-primary">Learn more <i class="bi bi-arrow-right"></i></button></a>
                </div>
            </div>
            <div class="col-4 project-card">
                <img class="card-image" src="https://picsum.photos/2000/3000" alt="">
                <div class="card-text">   
                    <h3>Lorem Ipsum</h3>
                    <h4>Lorem</h4>
                    <p>Lorem ipsum dolor sit amet consectetur. Pretium viverra facilisis sodales eget quis consectetur. Quis morbi cursus in </p>
                    <a href=""><button class="btn btn-primary">Learn more <i class="bi bi-arrow-right"></i></button></a>
                </div>
            </div> -->
        </div>
    </div>
</section>

<section class="section--aboutme">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <img class="aboutme-image" src="/drupal/themes/custom/jaapw/images/homepagefoto.png" alt="">
            </div>
            <div class="col-8 about-me">
                <h2>About me</h2>
                <p class="paragraph-title">Introduction</p>
                <p class="paragraph-text">
                    My name is Jaap Wouters, I am 21 years old and I study ICT & Media Design at the Fontys University of Applied Sciences in Eindhoven.
                    <br><br>
                    Before I went to HBO I did an MBO education at Summa College, this was the education ICT administrator level 4. After this study I was looking for something in ICT, so I ended up at Fontys. In semester 1 we got different profiles to choose from, and I ended up choosing for Media. The reason I chose for Media is because I have always been interested in design, editing and styling. I already had a little bit of experience with this as opposed to creating websites, which I didn’t know much about. In semester 2 I learned a lot about website creation using HTML, CSS and a little JavaScript. This is mostly because of my portfolio website that I had to create to show my progression on.
                    <br><br>
                    I enjoy skiing, gaming, listening to music and chilling with my friends. Besides that, I love working with Photoshop and Premiere Pro, I think it’s cool to take atmospheric shots and edit them to a nice result. That’s why my interests also lie in film and photography.
                </p>
            </div>
        </div>
    </div>
</section>