<section class="section--projects">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>
                    All Projects
                </h2>
                <p>
                    Projects I worked on this semester and previous semesters
                </p>
            </div>
        </div>
        <div class="row">
            {{ content.views_block__projects_block_1 }}
            <!-- <div class="col-4 project-card">
                <img class="card-image" src="https://picsum.photos/2000/3000" alt="">
                <div class="card-text">   
                    <h3>PSV</h3>
                    <h4>Brainport Experience Box</h4>
                    <p>The Brainport Experience Box is a unique innovative tribune where guests can learn about innovative technologies on game days.</p>
                    <a href=""><button class="btn btn-primary">Learn more <i class="bi bi-arrow-right"></i></button></a>
                </div>
            </div>
            <div class="col-4 project-card">
                <img class="card-image" src="https://picsum.photos/2000/3000" alt="">
                <div class="card-text">   
                    <h3>Portfolio</h3>
                    <h4>Project showcase</h4>
                    <p>Designing and developing my own portfolio to showcase the projects I have been working on this semester and last semesters.</p>
                    <a href=""><button class="btn btn-primary">Learn more <i class="bi bi-arrow-right"></i></button></a>
                </div>
            </div>
            <div class="col-4 project-card">
                <img class="card-image" src="https://picsum.photos/2000/3000" alt="">
                <div class="card-text">   
                    <h3>Lorem Ipsum</h3>
                    <h4>Lorem</h4>
                    <p>Lorem ipsum dolor sit amet consectetur. Pretium viverra facilisis sodales eget quis consectetur. Quis morbi cursus in </p>
                    <a href=""><button class="btn btn-primary">Learn more <i class="bi bi-arrow-right"></i></button></a>
                </div>
            </div>

            <div class="col-4 project-card">
                <img class="card-image" src="https://picsum.photos/2000/3000" alt="">
                <div class="card-text">   
                    <h3>PSV</h3>
                    <h4>Brainport Experience Box</h4>
                    <p>The Brainport Experience Box is a unique innovative tribune where guests can learn about innovative technologies on game days.</p>
                    <a href=""><button class="btn btn-primary">Learn more <i class="bi bi-arrow-right"></i></button></a>
                </div>
            </div>
            <div class="col-4 project-card">
                <img class="card-image" src="https://picsum.photos/2000/3000" alt="">
                <div class="card-text">   
                    <h3>Portfolio</h3>
                    <h4>Project showcase</h4>
                    <p>Designing and developing my own portfolio to showcase the projects I have been working on this semester and last semesters.</p>
                    <a href=""><button class="btn btn-primary">Learn more <i class="bi bi-arrow-right"></i></button></a>
                </div>
            </div>
            <div class="col-4 project-card">
                <img class="card-image" src="https://picsum.photos/2000/3000" alt="">
                <div class="card-text">   
                    <h3>Lorem Ipsum</h3>
                    <h4>Lorem</h4>
                    <p>Lorem ipsum dolor sit amet consectetur. Pretium viverra facilisis sodales eget quis consectetur. Quis morbi cursus in </p>
                    <a href=""><button class="btn btn-primary">Learn more <i class="bi bi-arrow-right"></i></button></a>
                </div>
            </div> -->
        </div>
    </div>
</section>