<section class="section--paragraph">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img class="refrence-image" src="{{ paragraph.entity.field_img.entity.field_media_image.entity.uri.value | image_style('basic') }}" alt="">
            </div>
        </div>
    </div>
</section>