<section class="section--paragraph">
    <div class="container">
        <div class="row">
            <div class="col-12">
                {{ paragraph.entity.field_text.value | raw }}
            </div>
        </div>
    </div>
</section>