<section class="section--paragraph">
    <div class="container">
        <div class="row">
            <div class="col-6">
                {{ paragraph.entity.field_text.value | raw }}
            </div>
            <div class="col-5 offset-1">
                <img class="refrence-image" src="{{ paragraph.entity.field_media.entity.field_media_image.entity.uri.value | image_style('basic') }}" alt="">
            </div>
        </div>
    </div>
</section>